* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  color: rgb(0, 0, 36);
  margin-left: 30px;
}
h1 {
  font-size: 200%;
}
h2 {
  border-left: 7px solid rgb(132, 0, 255);
  padding-left: 5px;
  font-size: 150%;
}
a {
  text-decoration: none;
}

a:hover {
  background: #786b59; /* Цвет фона под ссылкой */
  color: #ffe; /* Цвет ссылки */
}
a:visited {
  color: #900060; /* Цвет посещённых ссылок */
}
a:active {
  color: #f00; /* Цвет активной ссылки */
}
h1 {
  text-align: center;
}
.contacts {
}
.scills > p {
  color: #fff;
  box-sizing: auto;
  width: fit-content;
  height: fit-content;
  padding: 1px 6px;
  margin: 8px;
  font-size: 16px;
  background-color: #1cb0c4;
}
